.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #cccccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s linear;
    cursor: pointer;
}

.on {
    width: 100%;
    height: 100%;
    border-radius: 0;
}